#gallery {
  --gallery-gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gallery-gap);
  width: 90%;
}

.gallery-row {
  display: flex;
  gap: var(--gallery-gap);
  align-items: stretch;
  justify-content: center;
  max-width: 100%;
}

.gallery-img {
  width: calc((100% - (2 * var(--gallery-gap))) / 3);
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.gallery-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.15s ease-in-out;
}

.gallery-img > img:hover {
  transform: scale(108%);
}

@media screen and (max-width: 768px) {
  #gallery {
    width: 90%;
  }

  .gallery-row:first-child .gallery-img:last-child {
    display: none;
  }

  .gallery-img {
    width: calc((100% - var(--gallery-gap)) / 2);
  }
}
