#registration {
  width: 80%;
  display: flex;
  gap: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  padding: 2rem;
}

.reg-img {
  max-width: 45%;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.reg-img > img {
  height: 100%;
  width: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}
#registration h3 {
  font-size: 2rem;
  color: var(--black-primary);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-inline: 0.5rem;
}
.form > h5 {
  font-size: 1.4rem;
  color: var(--black-secondary);
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form-inputs > input {
  width: 100%;
  background-color: var(--form-white);
  border: 2px solid var(--form-border);
  color: var(--form-text);
  transition: 0.15s ease-in-out;
  font-size: 1.1rem;
  padding: 0.85rem 1rem;
  border-radius: 3rem;
  line-height: 0;
}
.form-inputs > input::placeholder {
  color: var(--form-text);
}
.form-inputs > input:focus {
  border-color: var(--blue-secondary);
}

@media screen and (max-width: 768px) {
  #registration {
    flex-direction: column-reverse;
    gap: 1rem;
    width: 90%;
  }
  #registration h3 {
    text-align: center;
  }

  .reg-img {
    max-width: 100%;
    height: 10rem;
    aspect-ratio: unset;
  }
  .reg-img > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-inline: 0.5rem;
  }
  .form-inputs {
    width: 100%;
  }
}
